{% extends 'base.html' %}

{% block title %}
News Updates
{% endblock title %}

{% block content %}
  <h1>News Updates</h1>
  <div class="news-list">
    {% if news_data %}
      <ul>
        {% for news in news_data %}
          <li>
            <h2>{{ news.title }}</h2>
            <p><small>Published on: {{ news.publish_at }}</small></p>

            {# Если у новости есть изображение, отображаем его #}
            {% if news.image %}
              <img src="{{ news.image.url }}" alt="{{ news.title }}" class="img-fluid mb-3" style="max-width: 100%; height: auto;">
            {% endif %}

            {# Выводим контент, отформатированный с CKEditor #}
            <div>
              {{ news.content|safe }}
            </div>

            <a href="{% url 'news_detail_view' news.id %}">Read more</a>
          </li>
        {% endfor %}
      </ul>

      {# Пагинация #}
      <div class="pagination">
        {% if news_data.has_previous %}
          <a href="?page={{ news_data.previous_page_number }}">Previous</a>
        {% endif %}
        <span>Page {{ news_data.number }} of {{ news_data.paginator.num_pages }}</span>
        {% if news_data.has_next %}
          <a href="?page={{ news_data.next_page_number }}">Next</a>
        {% endif %}
      </div>
    {% else %}
      <p>No news available at the moment.</p>
    {% endif %}
  </div>
{% endblock content %}
