/* Применение PixelArt шрифта к навигационной панели */
.navbar-nav .nav-link {
  font-family: 'Press Start 2P', cursive;
  font-size: 14px;
  margin-right: 15px; /* Увеличиваем расстояние между ссылками */
}

/* Убираем отступ для последней ссылки */
.navbar-nav .nav-link:last-child {
  margin-right: 0;
}

/* Темная тема */
body {
  background-image: url('/static/images/background/back_optimized.gif');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

body.loaded {
  background-image:  url('/static/images/background/back_photo.jpg');
}

.nav-link {
  color: #353333;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #393131;
  text-decoration: underline;
}

/* Подсветка активной ссылки */
.nav-item.active .nav-link {
  color: #393131;
  font-weight: bold;
}

/* Шрифт для текста внутри контейнера */
.container {
  background-color: rgba(13, 13, 14, 0.2);
  backdrop-filter: blur(5px);
  padding: 20px;
  margin: 20px auto 0; /* Центрирование контейнера с отступом сверху */
  max-width: 1100px; /* Максимальная ширина контейнера */
  color: white;
  border-radius: 10px;

  font-family: 'Press Start 2P', cursive; /* Применение шрифта в контейнере */
  font-size: 12px; /* Можно изменить размер текста */
}

/* Прозрачная навигационная панель */
.navbar {
  width: 100%; /* Задаем ширину на 100% */
  max-width: 1100px; /* Максимальная ширина, равная ширине контейнера */
  background-color: rgba(13, 13, 14, 0.2) !important; /* Прозрачный фон для навигационной панели */
  backdrop-filter: blur(5px); /* Эффект размытия фона */
  margin: 0 auto; /* Центрирование панели */
  border-radius: 10px;
  padding: 10px 0; /* Отступы внутри панели */
  margin-bottom: 20px; /* Отступ снизу для создания расстояния с контейнером */
}

/* Стили для сообщений */
.alert {
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.alert-debug {
  color: #333;
  background-color: #f5f5f5;
  border-color: #cccccc;
}

.alert-error {
  color: #ff5252;
  background-color: #2e2e2e;
  border-color: #ff5252;
}

.navbar-light .navbar-nav .nav-link {
  color: #c0bdbd; /* Цвет ссылок навигации (пример) */
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #c0bdbd; /* Цвет ссылок при наведении */
}
